body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 80px; /* Espaço suficiente para o player */
    background-color: rgb(36, 36, 36);
}

/* Luzes de festa */
.light-effect {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Não interfere com o clique no conteúdo */
    background: radial-gradient(circle, rgba(57, 150, 250, 0.2) 20%, transparent 70%) 0 0,
                radial-gradient(circle, rgba(255, 255, 255, 0.2) 20%, transparent 70%) 50px 50px,
                radial-gradient(circle, rgba(4, 102, 122, 0.2) 20%, transparent 70%) 100px 0;
    background-size: 200px 200px;
    animation: moveLights 5s linear infinite;
    z-index: 2;
}

@keyframes moveLights {
    0% {
        background-position: 0 0, 50px 50px, 100px 0;
    }
    50% {
        background-position: 100px 50px, 150px 0, 200px 100px;
    }
    100% {
        background-position: 0 0, 50px 50px, 100px 0;
    }
}


h1{
    color: #3996FA;
    border: 1px solid #04667A;
    padding-bottom: 2px;
    border-radius: 7px;
}

.mt-5{
    margin-top: 1rem !important;
    margin-bottom: 2rem !important;
}

.text-mid{
    color:#f8f9fa;
}

.gif-img{
    border-radius: 7px;
    border: 1px solid #3996FA;
}

#player-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa; /* Cor de fundo clara */
    border-top: 1px solid #ddd; /* Linha superior */
    padding: 10px;
    text-align: center;
    z-index: 1000;
}

.time-box {
    color:#f8f9fa;
    width: 80px;
    height: 80px;
    background-color: #04667A;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 10px;
}

.time-box p {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

#time-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
